*{
    box-sizing: border-box;
}

.selectors, .weather{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.selectors{

    gap: 15px;
    flex-wrap: wrap;
    background-color: ghostwhite;
    z-index: 100;
}

.selectors select{
    padding: 10px;
    width: 300px;
    border: 2px rgb(156, 156, 156) solid;
    border-radius: 12px;
}

.selectors select:active, .selectors select:focus, .button:focus{
    outline: none;
    border-radius: 12px;
    border-color:rgb(138, 161, 231);
}

.button{
    padding: 10px;
    border-radius: 12px;
    border: 2px rgb(156, 156, 156) solid;
}

.button.disable{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(134, 128, 128);
}

.col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

.col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.weather{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
.weather-form{
    width: 600px;
    border: 3px solid rgb(78, 78, 78);
    border-radius: 15px;
    background-color: white;
    display: flex;
}

.day-of-week{
    width: 100%;
    font-size: 30px;
    color: rgb(38, 38, 201);
    padding: 20px;
}

.info{
    width: 100%;
    display: flex;
    gap: 10px;
}

.image{
    width: 35%;
    text-align: center;
}

.description, .feels-like{
    margin-bottom: 20px;
}

.temp-now{
    font-size: 45px;
}

.max-min-temp{
    display: flex;
    gap: 15px;
}

.temp-max, .temp-min, .feels-like, .description{
    font-size: 15px;
    color: gray;
}

.temp-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details{
    background-color: rgb(38, 38, 201);
    border-radius: 11px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cloudiness, .wind, .pressure{
    display: flex;
    gap: 20px;
    align-items: center;padding: 10px;
    
}

.detales-info{
    font-size: 30px;
    
}

.hide{
    display: none;
}

.show{
    display: flex;
}

@media(max-width:1024px){
    .col-xs-12{
        flex: 0 0 100%;
        min-width: 100%;
    }
    .selectors{
        flex-direction: column;
    } 
    .weather-form{
        width: 75%;
        flex-direction: column;
    }
}